* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: papayawhip;
  padding: 1rem;
  min-height: 100vh;
  color: #333;
}

.parkCard {
  margin: 1rem;
}

form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
